body {
  font-size: 14pt;
  background-color: #fbfbfb;
}
h3 {
  margin-bottom: 0px;
}
.section {
  min-height: 100vh;
  width: 50%;
  position: fixed;
  top: 0;
}
.section.left {
  left: 0;
}
.section.right {
  right: 0;
}
.serverInfo {
  margin-left: 10px;
}
.console {
  background-color: #fff;
  border: #9a9a9a 1px solid;
  min-height: 67vh;
  margin: 10px;
  font-family: monospace;
  height: 67vh;
  overflow-x: auto;
}
.mdl-list__item {
  min-height: 40px;
  padding: 4px;
}
